*,
*::after,
*::before{
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html{
	font-size: 62.5%; //nie znajduje się w _typography.scss, ponieważ definiuje 1rem (62.5% z 16px = 10px => 1rem)
}

body{
	box-sizing: border-box;
}